<!-- Nothing Changes if nothing changes -->

{% extends '_base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}

    <h1>Homepage!</h1>

    {% if user.is_authenticated %}
        Hi {{user.email}}!

        {% else %}
        <p>You are not logged in</p>

        <!-- <a href="/accounts/login/">Log In</a> the bottom one equals as this -->
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign Up</a>

    {% endif %}

{% endblock content %}

